<div align="left">
<img src="https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png" align="right">
<p align="left"><b>Authors: Mikel Baraza Vidal, Daniele Borghesi, Eva Cantín Larumbe, Francesco Pio Capoccello, Eva Teisberg</b></p>
</div>
<img align="left" width="30%" src="https://www.inf.upv.es/www/etsinf/wp-content/uploads/2017/02/ETSInf_PRINCIPAL_V-horizontal.png"/> <img width="30%" src="https://www.upv.es/perfiles/pas-pdi/imagenes/marca_UPV_principal_negro150.png" align="right"/>

In [1]:
#import folium
import requests
import json
#import geopandas as geo
from io import StringIO
import io
import pandas as pd
#------------------------------------

from ortools.linear_solver import pywraplp
from numpy import average, std
from statistics import *

###  Datasets

In [2]:
vehicle_types = ["engine", "ladder", "rescue", "squad", "hazardous"]

In [3]:
response = requests.get("https://gitlab.com/drvicsana/cop-proyecto-2023/-/raw/main/project_data/distancias_estaciones.json")
distances_stations_db = json.loads(response.text)

df_distances_stations = pd.DataFrame(distances_stations_db)
df_distances_stations =  pd.concat([df_distances_stations.iloc[-1:], df_distances_stations.iloc[:-1]], axis=0)
df_distances_stations.fillna(0, inplace=True)
df_distances_stations

,42 South Street,49 Beekman Street,100 Duane Street,14 N. Moore Street,75 Canal Street,25 Pitt Street,222 East 2 Street,340 East 14 Street,253 Lafayette Street,42 Great Jones Street,...,256 Hylan Blvd.,278 McClean Avenue,1850 Clove Road,1592 Richmond Road,256 Nelson Ave.,345 Annadale Road,1560 Drumgoole Road West,7219 Amboy Road,1100 Rossville Ave,305 Front Street
42 South Street,0.00,228.56,282.07,367.00,299.82,397.01,523.64,609.91,444.76,511.11,...,1384.71,1348.97,1337.57,1553.31,2392.53,2406.78,2697.62,2833.72,2500.30,1567.00
49 Beekman Street,154.94,0.00,175.70,260.63,261.52,391.57,494.09,549.25,330.31,403.98,...,1401.76,1366.02,1354.62,1570.37,2409.58,2423.84,2609.88,2719.26,2396.89,1584.06
100 Duane Street,299.43,180.79,0.00,96.76,272.78,413.52,467.01,447.83,228.89,302.56,...,1411.62,1375.88,1364.48,1580.22,2419.44,2341.17,2469.12,2578.51,2256.14,1593.91
14 N. Moore Street,408.12,289.48,174.89,0.00,339.69,444.26,450.79,431.61,212.68,286.35,...,1520.31,1484.57,1473.17,1688.91,2405.59,2246.56,2374.51,2483.90,2161.52,1702.60
75 Canal Street,296.75,295.70,275.65,283.51,0.00,195.55,260.18,346.45,260.93,293.16,...,1563.49,1522.61,1516.35,1732.10,2571.31,2470.82,2598.77,2708.16,2385.79,1745.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345 Annadale Road,2387.88,2470.02,2355.43,2311.84,2446.72,2547.14,2553.66,2534.49,2315.55,2389.22,...,1315.83,1303.25,1115.74,877.46,478.78,0.00,300.33,537.43,414.36,1461.28
1560 Drumgoole Road West,2566.73,2569.97,2455.37,2411.78,2546.66,2647.08,2653.60,2634.43,2415.49,2489.16,...,1494.67,1482.10,1294.59,1056.30,560.66,220.62,0.00,411.10,284.85,1640.12
7219 Amboy Road,2891.38,2772.75,2658.16,2614.56,2749.45,2849.86,2856.39,2837.21,2618.27,2691.95,...,1847.28,1834.71,1647.20,1408.91,898.57,580.71,391.45,0.00,521.33,1992.73
1100 Rossville Ave,2425.57,2306.93,2192.34,2148.75,2283.63,2384.04,2390.57,2371.40,2152.46,2226.13,...,1408.77,1466.73,1208.69,1182.77,763.62,423.58,255.42,486.65,0.00,1554.22
305 Front Street,1587.77,1697.12,1669.21,1686.03,1836.09,1944.04,2015.69,2050.84,1831.90,1905.57,...,275.12,522.31,385.87,609.61,1448.82,1463.08,1753.92,1930.68,1556.88,0.00

In [4]:
distance = pd.read_csv("dataset/distance_stations_neighborhoods.csv", index_col=0)
neighborhood = pd.read_csv("dataset/neighborhoods_info_standardized.csv")
serviceability = {}

for vehicle_type in vehicle_types:
    serviceability[vehicle_type] = pd.read_csv("dataset/serviceability/" + vehicle_type +"_ntas_serviceability.csv", index_col=0)

In [5]:
distance.head()

,42 South Street,49 Beekman Street,100 Duane Street,14 N. Moore Street,75 Canal Street,25 Pitt Street,222 East 2 Street,340 East 14 Street,253 Lafayette Street,42 Great Jones Street,...,256 Hylan Blvd.,278 McClean Avenue,1850 Clove Road,1592 Richmond Road,256 Nelson Ave.,345 Annadale Road,1560 Drumgoole Road West,7219 Amboy Road,1100 Rossville Ave,305 Front Street
QN08,2123.18,2130.20,2104.71,2073.11,1896.78,1881.48,1925.06,1876.57,2030.47,1974.10,...,2449.03,2393.86,2396.74,2617.64,3444.35,3471.11,3761.95,3933.27,3559.47,2631.33
BX28,1894.39,1874.63,1935.64,2020.57,1809.95,1751.58,1728.54,1601.29,1843.17,1762.19,...,3168.88,3133.14,3051.15,3274.89,3596.90,3272.39,3250.70,3276.83,3037.71,3351.18
QN55,1872.67,1776.72,1811.35,1821.87,1646.27,1630.97,1674.55,1626.81,1779.96,1724.34,...,2113.36,2058.18,2061.06,2281.96,3108.67,3135.43,3426.27,3597.59,3223.79,2295.65
BK50,1532.61,1587.44,1614.04,1630.87,1548.42,1533.11,1576.70,1662.97,1682.11,1704.08,...,1726.71,1671.54,1674.41,1895.32,2722.02,2748.79,3039.63,3210.95,2837.15,1909.01
BX41,1774.19,1754.43,1815.43,1900.37,1689.74,1631.38,1608.33,1481.08,1722.97,1641.99,...,3048.68,3012.94,2893.91,3117.65,3439.67,3115.16,3093.46,3119.59,2880.48,3201.09

In [6]:
neighborhood.head()

,nta,boro_name,name,shape_area,population,population_density,engine_needed_first_shift,engine_needed_second_shift,ladder_needed_first_shift,ladder_needed_second_shift,...,engine_needed_per_density_first_shift,engine_needed_per_density_second_shift,ladder_needed_per_density_first_shift,ladder_needed_per_density_second_shift,rescue_needed_per_density_first_shift,rescue_needed_per_density_second_shift,squad_needed_per_density_first_shift,squad_needed_per_density_second_shift,hazardous_needed_per_density_first_shift,hazardous_needed_per_density_second_shift
0,QN08,Queens,St. Albans,0.223361,0.367078,0.109918,0.292654,0.339234,0.278632,0.342927,...,0.108119,0.088128,0.106058,0.090719,0.100143,0.082782,0.090793,0.088288,0.097795,0.105349
1,BX28,Bronx,Van Cortlandt Village,0.062467,0.378462,0.341809,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,QN55,Queens,South Ozone Park,0.239059,0.573192,0.161128,0.487559,0.479621,0.464957,0.469801,...,0.169097,0.116969,0.166145,0.116673,0.173235,0.209827,0.193908,0.076507,0.183615,0.108229
3,BK50,Brooklyn,Canarsie,0.237903,0.632227,0.178528,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,BX41,Bronx,Mount Hope,0.028422,0.391357,0.616431,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [7]:
serviceability['engine'].tail()

,42 South Street,49 Beekman Street,100 Duane Street,14 N. Moore Street,75 Canal Street,25 Pitt Street,222 East 2 Street,340 East 14 Street,253 Lafayette Street,42 Great Jones Street,...,256 Hylan Blvd.,278 McClean Avenue,1850 Clove Road,1592 Richmond Road,256 Nelson Ave.,345 Annadale Road,1560 Drumgoole Road West,7219 Amboy Road,1100 Rossville Ave,305 Front Street
BK93,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
BK73,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
MN28,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
BK40,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
BK99,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Creating an instance of the Solver class

In [8]:
solver = pywraplp.Solver.CreateSolver("GLOP")

### Creating decision variables

with:

$X_{i, j, k}: $  number of vehicles of type ${i}$ deployed in station ${j}$ during shift ${k}$

$X_{i, j, k} \geq 0$, $X_{i, j, k} \in \mathbb{R}$

$ i \in I, j \in J, k \in K$

_________________

$Y_{i, a, b}:$  number of vehicles of type ${i}$ moved from station ${a}$ to station ${b}$ at shift change

$Y_{i, a, b} \geq 0$, $Y_{i, a, b} \in \mathbb{R}$

$ i \in I, a \in J, b \in J$

_____

$T_{i, j, k}: 1$ if a vehicle of type ${i}$ is deployed in station ${j}$ during shift ${k}$, $0$ otherwise

$T_{i, j, k} \geq 0$, $T_{i, j, k} \in \mathbb{Z}$

$ i \in I, j \in J, k \in K$

____


$Q_{j, k}: 1$ if there are more than two vehicles in station $j$ during shift $k$, $0$ otherwise

$Q_{j, k} \geq 0$, $Q_{j, k} \in \mathbb{Z}$

$ j \in J, k \in K$

____

- type of vehicles$: i=1\dots 5$

- stations: $j=1\dots 218$

- shifts: $k=1\dots 2$

- neighborhoods: $n=1 \dots 195$

In [9]:
response = requests.get("https://gitlab.com/drvicsana/cop-proyecto-2023/-/raw/main/project_data/incidentes2019.json")
incidents = json.loads(response.text)

I = ["engine", "ladder", "rescue", "squad", "hazardous"]

In [10]:
N = list(neighborhood.nta)
J = list(distance.columns)
K = [1,2]

In [11]:
X = {}
for i in I:
    for j in J:
        for k in K:
            v = solver.IntVar(0, solver.infinity(), "Number of vehicles of type " + str(i) + " deployed at station "+ str(j)+ " during shift " + str(k))
            X[(i,j,k)] = v

In [12]:
Y = {}
for i in I:
    for a in J:
        for b in J:
            v = solver.IntVar(0, solver.infinity(), "Number of vehicles of type " + str(i) + " moved from station "+ str(a)+ " to station " + str(b))
            Y[(i,a,b)] = v

In [13]:
T = {}
for i in I:
    for j in J:
        for k in K:
            v = solver.BoolVar("if a vehicle of type" + str(i)  + " is deployed in station " + str(j) + " during shift " + str(k))
            T[(i,j,k)] = v

In [14]:
Q = {}
for j in J:
    for k in K:
        v = solver.BoolVar("if there are two or more vehicles in station " + str(j) + " during shift " + str(k))
        Q[(j,k)] = v

## Creting constraints

### 1. Station capacity

\begin{equation}
    \sum_{i \in I}^{}X_{i, j, k} \leq c_{j}, \forall j \in J, k \in K
    \label{station_capacity}
\end{equation}

In [15]:
response2 = requests.get("https://gitlab.com/drvicsana/cop-proyecto-2023/-/raw/main/located_firehouses.json")
stations = json.loads(response2.text)

In [16]:
#capacities = [(feature['properties']['capacity'], feature['properties']['FacilityAddress']) for feature in stations['features']]

capacities = {}

for station in stations["features"]:
    station_address = station["properties"]["FacilityAddress"]
    capacities[station_address] = station["properties"]["capacity"]

In [17]:
station_capacity_constraints = []

for j in J:
    capacity = capacities[j]
    for k in K:
        c = solver.Constraint(-solver.infinity(), capacity)
    
        for i in I:
            v = X[(i, j, k)]
            c.SetCoefficient(v, 1)

        station_capacity_constraints.append(c)

assert len(station_capacity_constraints) == 438, "The number of constraints (" + str(len(station_capacity_constraints)) + ") is NOT correct"

### 2. Vehicles availability

\begin{equation}
    \sum_{j \in J}^{}X_{i, j, k} \leq v_{i}, \forall i \in I, k \in K
    \label{vehicle_availability}
\end{equation}

In [18]:
availabilities = {'engine': 197, 'ladder': 143, 'hazardous': 1, 'squad': 8, 'rescue':5}

In [19]:
vehicles_availability_constraints = []

for i in I:
    availability = availabilities[i]

    for k in K:
        c = solver.Constraint(-solver.infinity(), availability)

        for j in J:
            v = X[(i, j, k)]
            c.SetCoefficient(v, 1)
            
        vehicles_availability_constraints.append(c)

assert len(vehicles_availability_constraints) == 10, "The number of constraints (" + str(len(vehicles_availability_constraints)) + ") is NOT correct"

### 3. At least one vehicle

\begin{equation}
    \sum_{i \in I}^{}X_{i, j, k} \geq 1, \forall j \in J, k \in K
    \label{at_least_one_vehicle}
\end{equation}

In [20]:
atleast_one_vehicle_constraints = []

for j in J:
    for k in K:
        c = solver.Constraint(1, solver.infinity())
    
        for i in I:
            v = X[(i, j, k)]
            c.SetCoefficient(v, 1)
        atleast_one_vehicle_constraints.append(c)

assert len(atleast_one_vehicle_constraints) == 438, "The number of constraints (" + str(len(atleast_one_vehicle_constraints)) + ") is NOT correct"

### 4. Scarce resources concentration

\begin{equation}
    \sum_{j \in J}^{}s_{i, j, n}X_{i, j, k} =  1, \forall n \in N, k \in K, i \in \left \{ 3, 4 \right \}
    \label{scarce_resources}
\end{equation}

In [21]:
scarce_resources_concentration_constraints = []

for k in K:
    for n in N:
        for i in ["rescue", "squad"]:
            c = solver.Constraint(-solver.infinity(), 1)
            
            for j in J:
                s = 1 if serviceability[i].loc[n, j] == True else 0
                v = X[(i, j, k)]
                c.SetCoefficient(v, s)

            scarce_resources_concentration_constraints.append(c)

assert len(scarce_resources_concentration_constraints) == 780, "The number of constraints (" + str(len(scarce_resources_concentration_constraints)) + ") is NOT correct"

### 5. Area resources concentration

\begin{equation}
    1 \leq \sum_{j \in J}^{}s_{i, j, n}X_{i, j, k} \leq  \sum_{j \in J}^{}s_{i, j, n}, \forall n \in N, k \in K, i \in \left \{ 1, 2 \right \}
    \label{resource_concentration_area}
\end{equation}

In [22]:
area_resources_concentration_constraints = []

for k in K:
    for n in N:
        for i in ["engine", "ladder"]:
            s_max = 0
            
            for j in J:
                s_max += 1 if serviceability[i].loc[n, j] == True else 0
            
            c = solver.Constraint(1, s_max)
            
            for j in J:
                s = 1 if serviceability[i].loc[n, j] == True else 0
                v = X[(i, j, k)]
                c.SetCoefficient(v, s)

            area_resources_concentration_constraints.append(c)
        
assert len(area_resources_concentration_constraints) == 780, "The number of constraints (" + str(len(area_resources_concentration_constraints)) + ") is NOT correct"

### 6. Station resources concentration

\begin{equation}
    X_{i, j, k} \leq  2, \forall j \in J, k \in K, i \in \left \{ 1, 2 \right \}
    \label{resource_concentration_station}
\end{equation}

In [23]:
station_resources_concentration_constraints = []

for k in K:
    for j in J:
        for i in ["engine", "ladder"]:
            c = solver.Constraint(-solver.infinity(), 2)
            v = X[(i, j, k)]
            c.SetCoefficient(v, 1)
            station_resources_concentration_constraints.append(c)
                    
assert len(station_resources_concentration_constraints) == 876, "The number of constraints (" + str(len(station_resources_concentration_constraints)) + ") is NOT correct"

### 7. At least two vehicle types

#### 7.1 Linking constrain T

\begin{equation}
    T_{i, j, k} \leq X_{i, j, k} \leq c_{j}T_{i, j, k}, \forall i \in I, j \in J, k \in K
    \label{linking_T}
\end{equation}

In [24]:
T_linking_constraints = []

for i in I:
    for j in J:
        capacity = capacities[j]
        for k in K:
            v_T = T[(i, j, k)]
            v_X = X[(i, j, k)]

            c= solver.Constraint(0, 0)
            c.SetCoefficient(v_T, -capacity - 1)
            c.SetCoefficient(v_X, 1)

            T_linking_constraints.append(c)

assert len(T_linking_constraints) == 2190, "The number of constraints (" + str(len(T_linking_constraints)) + ") is NOT correct"

#### 7.2. Linking constraint Q


\begin{equation}
    \sum_{i \in I} X_{i, j, k} - 1 \leq c_{j}Q_{j, k}, \forall j \in J, k \in K
    \label{linking_Q}
\end{equation}

\begin{equation}
    \sum_{i \in I} T_{i, j, k} \geq 2Q_{j, k}, \forall j \in J, k \in K
    \label{at_least_two_vehicle_types}
\end{equation}

In [25]:
Q_linking_constraints = []

for j in J:
    capacity = capacities[j]
    for k in K:
        c = solver.Constraint(-solver.infinity(), 1)
        v_Q = Q[(j, k)]
        for i in I:
            v_X = X[(i, j, k)]

            c.SetCoefficient(v_X, 1)
        c.SetCoefficient(v_Q, -capacity)
        
        Q_linking_constraints.append(c)

assert len(Q_linking_constraints) == 438, "The number of constraints (" + str(len(Q_linking_constraints)) + ") is NOT correct"

In [26]:
atleast_two_types_of_vehicle_constraints = []

for j in J:
    capacity = capacities[j]
    for k in K:
        c = solver.Constraint(0, solver.infinity())
        v_Q = Q[(j, k)]
        for i in I:
            v_T = T[(i, j, k)]

            c.SetCoefficient(v_X, 1)
        c.SetCoefficient(v_Q, -2)
        atleast_two_types_of_vehicle_constraints.append(c)

assert len(atleast_two_types_of_vehicle_constraints) == 438, "The number of constraints (" + str(len(atleast_two_types_of_vehicle_constraints)) + ") is NOT correct"

### 8. Vehicles transfer

\begin{equation}
    X_{i, a, 1} - X_{i, a, 2} = \sum_{j \in J} \left ( Y_{i, a, j} - Y_{i, j, a} \right ), \forall i \in I, a \in J
    \label{vehicle_transfer}
\end{equation}

In [27]:
vehicles_transfer_constraints = []

for i in I:
    for a in J:
        c = solver.Constraint(0, 0)

        for j in J:
            Y_aj = Y[(i, a, j)]
            Y_ja = Y[(i, j, a)]

            c.SetCoefficient(Y_aj, 1)
            c.SetCoefficient(Y_ja, -1)
        
        X_a1 = X[(i, a, 1)]
        X_a2 = X[(i, a, 2)]

        c.SetCoefficient(X_a1, -1)
        c.SetCoefficient(X_a2, 1)

        vehicles_transfer_constraints.append(c)

assert len(vehicles_transfer_constraints) == 1095, "The number of constraints (" + str(len(vehicles_transfer_constraints)) + ") is NOT correct"

### 9. Maximum transfer distance

\begin{equation}
    r_{a, b}Y_{i, a, b} \leq l_{i} Y_{i, a, b}, \forall i \in \left \{ 1, 2, 3, 4 \right \}, a \in J, b \in J
    \label{maximum_transfer_distance}
\end{equation}

In [28]:
serviceability_distances = {
    "engine": 754,
    "ladder": 754,
    "rescue": 2660,
    "squad": 2530,
    "hazardous": 4000,
}

In [29]:
max_transfer_distance_constraints = []
a_counter = -1

for a in J:
    a_counter += 1
    for b in J[a_counter:]:
        for i in ["engine", "ladder", "rescue", "squad"]:
        
            route_distance = df_distances_stations.loc[a, b]
            type_distance_limit = serviceability_distances[i]

            c = solver.Constraint(-solver.infinity(), 0)
            
            v = Y[(i, a, b)]

            c.SetCoefficient(v, route_distance - type_distance_limit)

            max_transfer_distance_constraints.append(c)

assert len(max_transfer_distance_constraints) == 96360, "The number of constraints (" + str(len(max_transfer_distance_constraints)) + ") is NOT correct"

### Objective Function

\begin{equation}
    maxZ: \sum_{k \in K}\sum_{i \in I}\sum_{j \in J}X_{j, i, k} \left ( \sum_{n \in N}s_{i, j, n} importance_{j, i, k, n} \right )
    \label{objective_function}
\end{equation}

\begin{equation}
    importance_{j, i, k, n} = w_{p} p_{n} + w_{e} e_{i, k, n} - w_{d} d_{j, n}
    \label{importance_factor}
\end{equation}

\begin{equation}
    w_{p}=0.4 \\
    w_{e}=0.1 \\
    w_{d}=0.5
    \label{weights}
\end{equation}

In [30]:
from sklearn.preprocessing import MinMaxScaler
MM_scaler = MinMaxScaler()
distance_scaled = MM_scaler.fit_transform(distance)
df_distance_scaled = distance.copy()
df_distance_scaled[:] = distance_scaled
df_distance_scaled.head()

,42 South Street,49 Beekman Street,100 Duane Street,14 N. Moore Street,75 Canal Street,25 Pitt Street,222 East 2 Street,340 East 14 Street,253 Lafayette Street,42 Great Jones Street,...,256 Hylan Blvd.,278 McClean Avenue,1850 Clove Road,1592 Richmond Road,256 Nelson Ave.,345 Annadale Road,1560 Drumgoole Road West,7219 Amboy Road,1100 Rossville Ave,305 Front Street
QN08,0.712966,0.694468,0.704228,0.707264,0.681702,0.661229,0.645215,0.637852,0.689578,0.678506,...,0.646414,0.649381,0.645223,0.654903,0.810685,0.807546,0.847927,0.872241,0.840141,0.663432
BX28,0.631054,0.599836,0.643624,0.688625,0.648207,0.612963,0.569798,0.538405,0.619114,0.599397,...,0.855937,0.859395,0.835534,0.841614,0.847833,0.758353,0.727975,0.709328,0.711457,0.862873
QN55,0.623278,0.563582,0.599072,0.618132,0.585069,0.568148,0.549079,0.547624,0.595334,0.585267,...,0.548713,0.554022,0.547603,0.559543,0.728941,0.724448,0.769168,0.788933,0.757351,0.570430
BK50,0.501529,0.493496,0.528346,0.550370,0.547323,0.531786,0.511528,0.560687,0.558523,0.577703,...,0.436172,0.444186,0.435160,0.449707,0.634785,0.628735,0.678453,0.692978,0.661992,0.463308
BX41,0.588020,0.555329,0.600535,0.645981,0.601837,0.568300,0.523666,0.494979,0.573894,0.554524,...,0.820951,0.825249,0.789806,0.796946,0.809545,0.719431,0.691083,0.670305,0.672679,0.821289

In [31]:
objective = solver.Objective()
objective.SetMaximization()

for k in K:
    shift_str = 'first' if k == 1 else 'second'
    for i in I:
        for j in J:
            v = X[(i, j, k)]
            overall_importance = 0
            
            for n in N:
                #computing the coefficient
                area_importance = 0

                s = 1 if serviceability[i].loc[n][j] else 0

                if s == 1:  
                    current_n = neighborhood[neighborhood['nta'] == n]
                    column_name = f"{i}_needed_{shift_str}_shift"

                    p = current_n['population_density'].values[0]
                    e = current_n[column_name].values[0]
                    d = df_distance_scaled.loc[n][j]
                    
                    importance = (0.4 * p) + (0.1 * e) - (0.5 * d)
                    area_importance += importance

                overall_importance += area_importance
            objective.SetCoefficient(v, overall_importance)

In [32]:
result = solver.Solve()

if result == solver.ABNORMAL :
    print("Execution finished by an error")
    
elif result == solver.FEASIBLE :
    print("In the specified time limit the solver has found a feasible solution")
    for k in K:
        for i in I:
            for j in J:
                v = X[(i,j, k)]
                if v.SolutionValue()>0:
                    print(v, v.solution_value())
    print("The value for the objective function is", objective.Value())
        
elif result == solver.INFEASIBLE :
     print("There is no feasible solution for the problem")
        
elif result == solver.NOT_SOLVED :
     print("In the specified time limit the solver has not found any feasible solution")
        
elif result == solver.OPTIMAL :
    print("In the specified time limit the solver has found a feasible solution")
    for k in K:
        for i in I:
            for j in J:
                v = X[(i,j,k)]
                if v.SolutionValue()>0:
                    print(v, v.solution_value())
    
    print("The optimal value for the objective function is", objective.Value())
    
elif result == solver.UNBOUNDED :
    print("The solution is unbounded")
    
else :
    print("Unknown error code")

In the specified time limit the solver has found a feasible solution
Number of vehicles of type engine deployed at station 42 South Street during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 100 Duane Street during shift 1 1.4999999999998708
Number of vehicles of type engine deployed at station 14 N. Moore Street during shift 1 1.2285262786001542e-13
Number of vehicles of type engine deployed at station 25 Pitt Street during shift 1 2.0
Number of vehicles of type engine deployed at station 222 East 2 Street during shift 1 1.0000000000000022
Number of vehicles of type engine deployed at station 340 East 14 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 253 Lafayette Street during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 42 Great Jones Street during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 108 East 13 Street during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 132 West 10 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 440 West 38th Street during shift 1 2.0
Number of vehicles of type engine deployed at station 150 West 19 Street during shift 1 2.0
Number of vehicles of type engine deployed at station 142 West 31 Street during shift 1 2.0
Number of vehicles of type engine deployed at station 14 East 18 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 234 East 29 Street during shift 1 1.5000000000000024
Number of vehicles of type engine deployed at station 238 East 40 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 782 Eighth Avenue during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 131 Amsterdam Avenue during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 207 West 77th Street during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 120 West 83 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 165 East 51 Street during shift 1 2.0
Number of vehicles of type engine deployed at station 159 East 85 Street during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 1367 Fifth Avenue during shift 1 1.9999999999999898
Number of vehicles of type engine deployed at station 1836 Third Avenue during shift 1 1.0000000000000138
Number of vehicles of type engine deployed at station 242 East 111 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 2282 Third Avenue during shift 1 2.0
Number of vehicles of type engine deployed at station 145 West 100th St. during shift 1 2.0
Number of vehicles of type engine deployed at station 500 West 113 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 111 West 133 Street during shift 1 2.0
Number of vehicles of type engine deployed at station 415 West 125 Street during shift 1 0.4999999999999978
Number of vehicles of type engine deployed at station 513 West 161 Street during shift 1 0.9999999999999971
Number of vehicles of type engine deployed at station 29 Vermilyea Avenue during shift 1 0.5000000000000039
Number of vehicles of type engine deployed at station 530 West 43 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 157 E 67th St during shift 1 1.5700924586837752e-16
Number of vehicles of type engine deployed at station 248 West 143 Street during shift 1 0.5000000000000039
Number of vehicles of type engine deployed at station 503 West 139 Street during shift 1 1.500000000000004
Number of vehicles of type engine deployed at station 515 West 181 Street during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 124 Liberty Street during shift 1 2.0
Number of vehicles of type engine deployed at station 33 West 43 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 227 Sixth Avenue during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 518 West 170 Street during shift 1 0.999999999999992
Number of vehicles of type engine deployed at station 20 Rear Bloomfield Street during shift 1 1.0
Number of vehicles of type engine deployed at station 341 East 143 Street during shift 1 2.0
Number of vehicles of type engine deployed at station 330 East 150th Street during shift 1 1.0
Number of vehicles of type engine deployed at station 720 Melrose Ave. during shift 1 2.0
Number of vehicles of type engine deployed at station 1155 Washington Ave. during shift 1 1.4999999999999947
Number of vehicles of type engine deployed at station 1160 Ogden Ave. during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 618 East 138 Street during shift 1 1.5700924586837752e-16
Number of vehicles of type engine deployed at station 1226 Seneca Ave. during shift 1 2.0
Number of vehicles of type engine deployed at station 460 Cross Bronx Expressway during shift 1 2.0
Number of vehicles of type engine deployed at station 1215 Intervale Ave. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 2417 Webster Ave. during shift 1 1.000000000000002
Number of vehicles of type engine deployed at station 925 East Tremont Ave. during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 2928 Briggs Ave. during shift 1 1.000000000000004
Number of vehicles of type engine deployed at station 1689 Story Ave. during shift 1 1.0000000000000033
Number of vehicles of type engine deployed at station 1843 White Plains Rd. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 1518 Williamsbridge Road during shift 1 0.999999999999996
Number of vehicles of type engine deployed at station 1454 Astor Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 3431 White Plains Road during shift 1 1.000000000000012
Number of vehicles of type engine deployed at station 3446 Eastchester Road during shift 1 2.0
Number of vehicles of type engine deployed at station 755 East 233 Street during shift 1 2.0
Number of vehicles of type engine deployed at station 21 Asch Loop during shift 1 0.9999999999999937
Number of vehicles of type engine deployed at station 2924 Bruckner Blvd. during shift 1 1.4999999999999953
Number of vehicles of type engine deployed at station 4550 Henry Hudson Parkway E. during shift 1 0.9999999999999937
Number of vehicles of type engine deployed at station 2225 Belmont Ave. during shift 1 1.4999999999999967
Number of vehicles of type engine deployed at station 3025 Bailey Ave. during shift 1 1.5
Number of vehicles of type engine deployed at station 655 Prospect Ave. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 1259 Morris Ave. during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 1655 Washington Ave during shift 1 1.0
Number of vehicles of type engine deployed at station 2175 Walton Ave. during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 172 Tillary Street during shift 1 2.0
Number of vehicles of type engine deployed at station 74 Middagh Street during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 252 Lorraine St. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 31 Richards Street during shift 1 0.9999999999999999
Number of vehicles of type engine deployed at station 436 39th St during shift 1 1.0
Number of vehicles of type engine deployed at station 788 Union Street during shift 1 1.0
Number of vehicles of type engine deployed at station 395 4th Ave. during shift 1 0.999999999999999
Number of vehicles of type engine deployed at station 530 11th Street during shift 1 2.0
Number of vehicles of type engine deployed at station 494 Dean Street during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 489 Saint John's Place during shift 1 0.500000000000009
Number of vehicles of type engine deployed at station 1352 Saint John's Place during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 25 Rockaway Ave. during shift 1 1.5000000000002127
Number of vehicles of type engine deployed at station 940 Dekalb Avenue during shift 1 1.0
Number of vehicles of type engine deployed at station 32 Ralph Ave. during shift 1 2.0
Number of vehicles of type engine deployed at station 495 Hancock Street during shift 1 2.0
Number of vehicles of type engine deployed at station 206 Monroe Street during shift 1 1.5000000000001121
Number of vehicles of type engine deployed at station 850 Bedford Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 160 Carlton Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 26 Hooper Street during shift 1 2.0
Number of vehicles of type engine deployed at station 161 South 2nd Street during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 187 Union Ave. during shift 1 2.0
Number of vehicles of type engine deployed at station 205 Greenpoint Ave. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 43 Morgan Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 650 Hart Street during shift 1 0.4999999999998755
Number of vehicles of type engine deployed at station 392 Himrod Street during shift 1 0.49999999999979106
Number of vehicles of type engine deployed at station 582 Knickerbocker Ave. during shift 1 2.0
Number of vehicles of type engine deployed at station 107 Watkins Street during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 885 Howard Ave. during shift 1 2.0
Number of vehicles of type engine deployed at station 480 Sheffield Ave. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 998 Liberty Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 799 Lincoln Ave. during shift 1 0.9999999999999936
Number of vehicles of type engine deployed at station 5105 Snyder Ave. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 491 Rogers Ave. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 2900 Snyder Ave. during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 1210 Cortelyou Road during shift 1 2.0
Number of vehicles of type engine deployed at station 1367 Rogers Ave. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 1307 Prospect Ave. during shift 1 1.9999999999998763
Number of vehicles of type engine deployed at station 4210 12th Ave. during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 6630 3rd Avenue during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 9219 5th Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 1157 79th St. during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 8653 18th Ave. during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 126 Foster Ave. during shift 1 0.5000000000001272
Number of vehicles of type engine deployed at station 2312 65th Street during shift 1 2.0
Number of vehicles of type engine deployed at station 1635 E. 14th Street during shift 1 2.0
Number of vehicles of type engine deployed at station 2510 Neptune Ave. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 901 Avenue U during shift 1 2.6405702402481546e-16
Number of vehicles of type engine deployed at station 2929 W. 8th Street during shift 1 0.5000000000002107
Number of vehicles of type engine deployed at station 1361 Rockaway Parkway during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 6405 Avenue N during shift 1 0.9999999999998769
Number of vehicles of type engine deployed at station 1851 E. 48 Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 2165 Gerritsen Ave. during shift 1 0.4999999999997847
Number of vehicles of type engine deployed at station Brooklyn Navy Yard Building 292 during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 5113 4th Avenue during shift 1 2.0
Number of vehicles of type engine deployed at station 10-40 47th Ave. during shift 1 0.9999999999999875
Number of vehicles of type engine deployed at station 41-24 51st Street during shift 1 0.5000000000000215
Number of vehicles of type engine deployed at station 33-51 Greenpoint Avenue during shift 1 0.5000000000000002
Number of vehicles of type engine deployed at station 42-06, 42-08 Astoria Blvd. South during shift 1 2.0
Number of vehicles of type engine deployed at station 22-63 35th St. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 81-17 Northern Blvd. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 97-28 43rd Avenue during shift 1 1.0000000000000053
Number of vehicles of type engine deployed at station 27-12 Kearney Street during shift 1 1.0
Number of vehicles of type engine deployed at station 108-01 Horace Harding Exp. during shift 1 0.9999999999999989
Number of vehicles of type engine deployed at station 86-53 Grand Avenue during shift 1 0.9999999999999999
Number of vehicles of type engine deployed at station 111-02 Queens Blvd. during shift 1 1.9999999999997695
Number of vehicles of type engine deployed at station 66-44 Myrtle Avenue during shift 1 2.0
Number of vehicles of type engine deployed at station 78-11 67th Road during shift 1 1.0
Number of vehicles of type engine deployed at station 119-11 14th Road during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 40-18 Union Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 41-20 Murray Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 40-18 214th Place during shift 1 1.0
Number of vehicles of type engine deployed at station 159-06 Union Turnpike during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 61-20 Utopia Parkway during shift 1 2.0
Number of vehicles of type engine deployed at station 64-04 Springfield Blvd. during shift 1 0.9999999999999988
Number of vehicles of type engine deployed at station 44-01 244th Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 254-20 Union Turnpike during shift 1 1.0
Number of vehicles of type engine deployed at station 89-40 87th Street during shift 1 1.0
Number of vehicles of type engine deployed at station 103-17 98th Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 91-45 121st Street during shift 1 0.5000000000002037
Number of vehicles of type engine deployed at station 107-12 Lefferts Blvd. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 153-11 Hillside Avenue during shift 1 0.9999999999999999
Number of vehicles of type engine deployed at station 104-12 Princeton Street during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 111-36 Merrick Blvd. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 91-04 197th Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 218-44 97th Avenue during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 143-15 Rockaway Blvd. during shift 1 2.298366410940245e-13
Number of vehicles of type engine deployed at station 117-11 196th Street during shift 1 0.4999999999997952
Number of vehicles of type engine deployed at station 145-50 Springfield Blvd. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 142-04 Brookville Blvd. during shift 1 1.0
Number of vehicles of type engine deployed at station 158-57 Cross Bay Blvd. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 257 Beach 116th Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 402 B. 169 Street during shift 1 1.0
Number of vehicles of type engine deployed at station 56-07 Metropolitan Avenue during shift 1 2.0000000000000004
Number of vehicles of type engine deployed at station 16-15, 16-17, 16-19 Central Ave. during shift 1 0.9999999999999999
Number of vehicles of type engine deployed at station 48-06 Rockaway Beach Blvd during shift 1 0.9999999999999999
Number of vehicles of type engine deployed at station 14 Brighton Avenue during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 1189 Castleton Avenue during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 412 Broadway during shift 1 1.0
Number of vehicles of type engine deployed at station 74 Broad Street during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 1573 Castleton Avenue during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 65 Harbor Road during shift 1 1.0
Number of vehicles of type engine deployed at station 1400 Richmond Avenue during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 3730 Victory Boulevard during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 256 Hylan Blvd. during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 278 McClean Avenue during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 1850 Clove Road during shift 1 0.9999999999999999
Number of vehicles of type engine deployed at station 1592 Richmond Road during shift 1 1.0
Number of vehicles of type engine deployed at station 256 Nelson Ave. during shift 1 1.0
Number of vehicles of type engine deployed at station 345 Annadale Road during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 7219 Amboy Road during shift 1 1.0000000000000002
Number of vehicles of type engine deployed at station 1100 Rossville Ave during shift 1 1.0
Number of vehicles of type engine deployed at station 305 Front Street during shift 1 1.0
Number of vehicles of type ladder deployed at station 42 South Street during shift 1 2.0
Number of vehicles of type ladder deployed at station 49 Beekman Street during shift 1 1.0
Number of vehicles of type ladder deployed at station 100 Duane Street during shift 1 1.5000000000001292
Number of vehicles of type ladder deployed at station 14 N. Moore Street during shift 1 0.9999999999998771
Number of vehicles of type ladder deployed at station 75 Canal Street during shift 1 2.0000000000000004
Number of vehicles of type ladder deployed at station 25 Pitt Street during shift 1 0.5000000000000002
Number of vehicles of type ladder deployed at station 222 East 2 Street during shift 1 0.9999999999999981
Number of vehicles of type ladder deployed at station 253 Lafayette Street during shift 1 2.0
Number of vehicles of type ladder deployed at station 220 West 37 Street during shift 1 1.0
Number of vehicles of type ladder deployed at station 150 West 19 Street during shift 1 0.5000000000000002
Number of vehicles of type ladder deployed at station 234 East 29 Street during shift 1 0.49999999999999784
Number of vehicles of type ladder deployed at station 782 Eighth Avenue during shift 1 2.0
Number of vehicles of type ladder deployed at station 215 W 58th Street during shift 1 1.0

## Experiments